
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Black.ttf") format("ttf"),
  url("fonts/roboto/Roboto-BlackItalic.ttf") format("ttf"),
  url("fonts/roboto/Roboto-Bold.ttf") format("ttf"),
  url("fonts/roboto/Roboto-BoldItalic.ttf") format("ttf"),
  url("fonts/roboto/Roboto-Light.ttf") format("ttf"),
  url("fonts/roboto/Roboto-LightItalic.ttf") format("ttf"),
  url("fonts/roboto/Roboto-Medium.ttf") format("ttf"),
  url("fonts/roboto/Roboto-MediumItalic.ttf") format("ttf"),
  url("fonts/roboto/Roboto-Regular.ttf") format("ttf"),
  url("fonts/roboto/Roboto-Thin.ttf") format("ttf"),
  url("fonts/roboto/Roboto-ThinItalic.ttf") format("ttf");
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}  